version: 2
updates:
- package-ecosystem: nuget
  directory: "/src"
  schedule:
    interval: weekly
  open-pull-requests-limit: 5

- package-ecosystem: npm
  directory: "/src/Auth.Frontend"
  schedule:
    interval: weekly
  open-pull-requests-limit: 5