<div class="flex justify-content-center flex-wrap">
  <div class="grid w-8">
    <div class="col">
      <h2 class="text-center">Welcome to Auth.Frontend</h2>
      <div class="flex justify-content-center">
        <p-image src="assets/authApi_icon.png" alt="Image" width="250" />
      </div>
      <p-card>
        <div class="grid">
          <div class="col-3">
            <p-menu #menu [model]="items()" />
          </div>
          <div class="col-9">
            @switch (state()) {
              @case (HomeComponentState.userInfo) {
                <div>
                  <app-user-info></app-user-info>
                </div>
              }
              @case (HomeComponentState.changeRole) {
                <div>
                  <app-change-role></app-change-role>
                </div>
              }
              @case (HomeComponentState.serviceInfo) {
                <div>
                  <app-service-info></app-service-info>
                </div>
              }
              @case (HomeComponentState.allUsersInfo) {
                <div>
                  <app-users-info></app-users-info>
                </div>
              }
            }
          </div>
        </div>
      </p-card>
    </div>
  </div>
</div>
