<div class="p-2 m-2">
    <i class="pi pi-pen-to-square" style="font-size: 1.5rem">
        <span class="mx-2">Change Role</span></i
      >
      <form class="m-2 p-2" [formGroup]="formGroup()" (ngSubmit)="onSubmit()">
        <p-select
            formControlName="user" 
            [options]="userNames()"
            optionLabel="username"
            placeholder="Select User" />
        <p-select 
            formControlName="role" 
            [options]="roles()"
            placeholder="Select role" />
            <p-button [disabled]="formGroup().invalid" type="submit" label="Submit" />
    </form>
</div>
