<div class="p-2 m-2">
  <i class="pi pi-building-columns" style="font-size: 1.5rem">
    <span class="mx-2">Service Information</span></i
  >
  <div class="mt-2">
    <p-accordion value="0">
      <p-accordion-panel value="0">
        <p-accordion-header>Name</p-accordion-header>
        <p-accordion-content>
          <p>
            {{ serviceInfo()?.name }}
          </p>
        </p-accordion-content>
      </p-accordion-panel>
      <p-accordion-panel value="1">
        <p-accordion-header>Description</p-accordion-header>
        <p-accordion-content>
          <p>
            {{ serviceInfo()?.description }}
          </p>
        </p-accordion-content>
      </p-accordion-panel>
    </p-accordion>
  </div>
</div>
